/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 4, 2014, 19:02:56 AM
    Author     : Yener
*/
.anchorClass {
    background: #009966;
    font-weight: bold;
    font-size: 20px;
    border : #2B547E;
    color: #FFFFFF;
    text-decoration: none;
}

.gridClass td {
    vertical-align: top;
}

.bodyClass {
    margin: 0 auto;
    width: 1024px;
}

.ui-panel-titlebar.newPersonPanel,
.ui-widget-header.newPersonPanel,
.ui-helper-clearfix.newPersonPanel,
.ui-corner-all.newPersonPanel {
    width: 400px;
    margin-bottom: 20px;
    background: #8280a5;
}

.ui-selectManyMenu.selectMany,
.ui-inputfield.selectMany,
.ui-widget.selectMany,
.ui-widget-content.selectMany,
.ui-corner-all.selectMany {
    width: 200px;
    height: 200px;
}

.ui-panel-titlebar.newMoviePanel,
.ui-widget-header.newMoviePanel,
.ui-helper-clearfix.newMoviePanel,
.ui-corner-all.newMoviePanel {
    width: 1000px;
    margin-bottom: 10px;
    background: #8daca6;
}


.ui-datatable.borderless table thead tr {
    display: none;
}
.ui-datatable.bigTable table {
    width: 1000px;
    text-align: center;
}

.ui-datatable.mediumTable table {
    width: 800px;
    text-align: center;
}

.ui-datatable.smallTable table {
    width: 400px;
    text-align: center;
}

.ui-datatable.miniTable table {
    width: 200px;
    text-align: center;
}

.ui-datatable-odd.colorlessRow,
.ui-datatable-even.colorlessRow{
    background: #FFFFFF;
}

.ui-datatable-odd.paleBlueRow,
.ui-datatable-even.paleBlueRow{
    background: #e8e5f8;
}

.ui-datatable-odd.paleGreenRow,
.ui-datatable-even.paleGreenRow{
    background: #C3FDB8;
}

.ui-datatable.borderless table thead tr,
.ui-datatable.borderless thead th,
.ui-datatable.borderless tbody,
.ui-datatable.borderless tbody tr,
.ui-datatable.borderless tbody td {
    border-style: none;
}

.ui-state-default.smallColumn {
    width: 150px ;
}

.ui-state-default.dateColumn {
    width: 80px ;
}

.ui-state-default.mediumColumn {
    width: 250px ;
}

.ui-state-default.bigColumn {
    width: 400px;
}

.ui-state-default.editColumn {
    width: 10px;
}

.ui-state-default.smallColumn,
.ui-state-default.dateColumn,
.ui-state-default.mediumColumn,
.ui-state-default.bigColumn,
.ui-state-default.editColumn {
    background: #cff5f2;
}

.ui-outputLabel.marginRight {
    margin-right: 5%;
}

.ui-paginator{
    width: 1000px ;
}

